@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0px;
    padding: 0px;
box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
     color: rgb(135, 40, 40);
   
   
}
.top-header {
    height: 760px;
    background-image:url(../images/2.jpg);
    background-size: cover;
background-image: linear-gradient(0,0,0,2)(0,0,0,2);
margin-top: 0px;
}

.histo-txt , .plot-content,.heading, .maps-content{
    text-align: center;
    
}

button{
    padding: 5rem;
    width: 150px;
    border-radius: 10px;
    border: none;
    height: 40px;
    cursor:pointer;
    color: rgb(244, 164, 93);
    font-size: 1.2rem;
    box-shadow:5px 5px;
  
}


.btn-focus{
    background: rgb(244, 164, 93);
}


.btn:hover{
    color: rgb(95, 199, 165);
    position: relative;
    bottom: 0.5rem;
   
}

.conclusion-content,.analyse-content,.maps-content,.plot-content,.histo-content{
    background: linear-gradient(90deg, #d7b760 0%, #f0a38e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
   

}

.analyse-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

}

.conclusion-item{
    margin: 2rem 0;
}

li{
    margin: 1rem 0;
}
h3,button,p,.heading{
    margin: 1rem 0;
}

li,p{
    font-size: 20px;
    line-height: 2;
}
h3{
    font-size: 22px;
    letter-spacing: 2px;
}

p,li{
    margin: 1rem 20rem;
    text-align: left;
    font-weight: 900;
    color: rgb(60, 58, 58);
}
.heading{
    padding: 1rem 0;
    border-bottom: grey solid 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: larger;
    color: rgb(234, 93, 57);
    color: rgb(255, 251, 251);
    font-size: 24px;
   
   
}

h2{
    text-transform: uppercase;
    margin: 2rem 0;
    letter-spacing: 2px;

}

.histo-heading{
    padding-top: 2rem;
}


.histo-content{
    margin-top: 0.1rem;
}

